{% extends "layout.html" %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col md-12">

            <div class="jumbotron p-3">
                <h2>Toplantı <b>Listesi </b> <button type="button" class="btn btn-success float-right"
                        data-toggle="modal" data-target="#modaladd">Toplantı Oluştur</button> </h2>

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Baslik</th>
                            <th scope="col">Konu</th>
                            <th scope="col">Tarih</th>
                            <th scope="col">Baslangic Saati</th>
                            <th scope="col">Bitis Saati</th>
                            <th scope="col">Katilimcilar</th>
                            <th scope="col">Surec</th>
                        </tr>

                        <tr>
                            <th>1</th>
                            <td>A</td>
                            <td>B</td>
                            <td>29.11.2021</td>
                            <td>11:30</td>
                            <td>12:00</td>
                            <td>Cüneyt</td>
                            <td>
                                <a href="" class="btn btn-info" data-toggle="modal" data-target="#modaledit">Düzenle</a>
                                <a href="" class="btn btn-danger btn-xs"
                                    onclick="return confirm('Silmek istediğinizden emin misiniz ?')">Sil</a>
                            </td>
                        </tr>
                    </thead>

            </div>
            <div id="modaladd" class="modal fade" role="dialog">
                <div class="modal-dialog">


                    <div class="modal-content">


                        <div class="modal-header">


                            <h4 class="modal-title">Toplantı Oluştur</h4>


                        </div>


                        <div class="modal-body">


                            <form action="" method="POST">


                                <div class="row gutters">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="form-group">
                                            <label for="baslik">Başlık</label>
                                            <input type="text" name="baslik" class="form-control"
                                                placeholder="Başlık giriniz...">
                                        </div>
                                    </div>

                            </form>
                        </div>




                    </div>


                </div>


            </div>
        </div>
    </div>
</div>
{% endblock %}